{# Copyright - All Rights Reserved #}

{% extends "framework/main.html" %}
{% load quill_to_email %}

{% block title %}{{ title }}{% endblock %}

{% block description %}
{{ description }}
{% endblock %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="https://www.nerdfonts.com/assets/css/webfont.css">
{% endblock %}

{% block body %}

<div class="row justify-content-between">
    <div class="col">
        <h1>{{ title }}</h1>
        <p class="h4 my-3">{{ description }}</p>
    </div>
    <div class="col-lg-3 d-flex flex-column align-items-lg-end">
        {% if tags %}
        <div class="mb-3 d-flex flex-wrap gap-2 justify-content-lg-end">
            {% for tag in tags %}
            <span class="badge text-bg-secondary text-nowrap"><i class="nf nf-md-tag me-2"></i>{{ tag }}</span>
            {% endfor %}
        </div>
        {% endif %}
        <p>Written on {{ created_at }}.</p>
        {% comment %}
        {% if updated_at %}
        <p>Updated on {{ updated_at }}</p>
        {% endif %}
        {% endcomment %}
    </div>
</div>

<hr class="mt-0 text-white bg-white" style="height: 2px;">

<div class="row justify-content-between">
    <div class="flex-grow-1 {% if related_posts %}col{% endif %}">{{ content|quill_to_email }}</div>

    <!-- <hr class="mt-0 text-white bg-white .d-none .d-lg-block" style="height: 2px;"> -->

    {% if related_posts %}
    <hr class="mt-0 text-white bg-white d-lg-none" style="height: 2px;">
    <div class="col-lg-3">
        <h2 class="h4 mb-3 ">Related Posts</h2>
        {% for post in related_posts %}
        <a class="text-decoration-none text-reset d-block" href="{% url 'post' slug=post.slug %}">
            <div class="card mb-3">
                <div class="card-body py-2">
                    <h3 class="card-title mb-1">{{ post.title }}</h3>
                    <p class="card-text mb-0">{{ post.description }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}