{# Copyright - All Rights Reserved #}

<nav class="navbar navbar-expand-lg bg-secondary mb-4 ">
    <div class="container mx-auto">
        <a class="visually-hidden-focusable position-absolute top-0 start-0 bg-info" href="#content"
            aria-label="Skip to main content">Skip to main
            content</a>

        <a class="navbar-brand d-flex flex-nowrap align-items-center mx-3 me-auto" href="/">
            <img src="/static/logo.webp" alt="Site Logo" class="rounded-5 logo-responsive">
            <span class="navbar-text text-nowrap display-lg-2 display-4 ms-3">Dylan Shah</span>
        </a>

        <button class="navbar-toggler ms-2 flex-shrink-0 navbar-toggler-fixed-xs" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">

            <!-- <p class="navbar-text mx-auto mb-0 py-2">Highly Motivated Computer Systems Engineering Student</p> -->

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 flex-wrap">

                <li class="nav-item mx-1">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>

                <li class="nav-item dropdown mx-1">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Highlighted Projects
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Vex Robotics</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link disabled" aria-disabled="true">Meow</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link" href="{% url 'contact-me' %}">Contact Me</a>
                </li>
            </ul>
        </div>
    </div>
</nav>